.btn-tweet {
  width:100%;
  border-radius:20px;
}

.btn-follow {
  font-size:13px;
  width:70px;
  border-radius:20px;
  position:absolute;
  top:13px;
  right:10px;
}

.search-twitter {
  border-radius:20px;
}

.bold {
  font-weight:700;
}

.right-font-size {
  font-size:13px;
}

.round-img {
  border-radius:100px;
}